#cartList td:first-child{
    width: auto;
}
#cartList .qty{
    width:50px;
    text-align: right;
}
#orderBtn{
    background-color: #face13;
    color: #124812;
    text-decoration: none;
    padding:2px;
    margin: 0 auto;
    border-radius: 4px;
    display: block;
    width: 200px;
    text-align: center;
}
#orderBtn:hover{
    background-color: #fa8613;
    color: white;
}
.emptyCart{
    background-color: rgba(164, 191, 164, 0.51);
/*            color: #d8d8d8;*/
    color: #4b642d;
    width: 400px;
    height: 200px;
    text-align: center;
    line-height: 200px;
    font-size: 2em;
    margin: 0 auto;
    border-radius: 10px;
}